body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FF4F5A;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
   
    padding: 0;
    margin-left: 45%;
    height: 100%;
    width: 100%;
    border-radius: 45px;
 
    background-color: white;
}
nav{
    margin-right: 280px ;
    text-align: center;
   
}
.container li{ 
    position: relative;
    padding: 0;
    margin-left: 50px;
    margin-top: 25px;

    
    
    list-style-type: none;
    
   
   
    display: inline-block;
    
}
a{
    top: 5px;
    background:white;
    text-decoration: none;
    text-align: center;
    color: none;
    padding: 5px 20px;
    border: 2px solid #c9cfda;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
   
}
 #first{
    color: #FF4F5A;
  
}
#first:hover{
    background-color: #FF4F5A;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid white;

}
#sec{
    border: none;
    color: white;
    background-color: #FF4F5A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);}
.second_container{
    margin-top: 5px;
    margin-left: 50px;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF4F5A;
}
.medium_buttons{

    margin-left: -100px;

}
.medium_buttons a{
   margin-left: 150px;
   border: none;
   background-color: #FF4F5A;
   color: white;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.container img{
  margin-top: 0px;
  padding: 0;
  margin-left: 50px;
 
  height: 70%;
  width:50%;
}
.main_body{
    margin-top: -500px;
}
.main_body h2{
    text-decoration: none;
    font-size: 16;
    color: white;
    letter-spacing: 10px;
    font-weight: 500;
    padding: 0px;
    text-size-adjust: 25PX;
    margin-left: 45px;
    margin-top: 65px;
}
 h4{
    margin-top: -550px;
    margin-left: 45px;
    color: white;
    font-weight: bold;
    font-size: medium;
}
.main_body h1{
    color: white;
    font-size: 150;
    font-weight: 200;
    margin-left: 45px;
    margin-top: 35px;
}
.main_body  a{
   
    margin-left: 45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); ;
}
.main_body ul{
  margin-top: 130px;
  
}
.main_body ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
   
   
    

}
.main_body ul li img{
    margin-left: 20px;
  
    
   
    
    height: 30px;
    width: 30px;
}